/**
 * 公共文字颜色
 * g-text-main-color:文字主要颜色
 * g-text-minor-color:文字次要颜色
 * g-text-active-color:文字active、hover颜色
 * g-text-remind-color: 文字提醒类颜色（#E26735）
 * g-warning-text-color:文字警示类颜色（#F15A59）
 * g-warning-at-color:消息@文字颜色
**/
$g-text-main-color: #323233;
$g-text-minor-color: #969799;
$g-text-active-color: #00C00E;
$g-text-remind-color: #E26735;
$g-text-at-color: #3879E1;
$g-line-color: #F2F3F5; // 线条颜色
$g-border-color: #CDCFD1; // 边框颜色